/**
    BetterMag Simple Dark Style

    TABLE OF CONTENTS:

    2. =>Global Structure
        2.3. =>Navigation
        2.4. =>Footer
        2.5. =>Breadcrumb

    3. =>Components & Common Classes
            3.1.1 =>Section Heading Extended
        3.2. =>Page Heading
        3.3. =>Widget
        3.4. =>Search Form
        3.5. =>Newsticker

    9. =>Other
        9.2. =>Archive Page

    10. =>WooCommerce

*/


/**
 * 2.3. =>Navigation
 **/
.main-menu,
.main-menu.boxed .main-menu-container{
    background-color:#304254;
}
.main-menu,
.main-menu.boxed .main-menu-container{
    border-bottom-color:#446280;
}
.main-menu .menu>li.random-post>a,
.main-menu .search-item .search-form{
    background-color:#446280;
}
.main-menu .menu > li,
.main-menu .menu a,
.main-menu .main-menu-container.mobile-menu-container .mobile-button a,
.main-menu .search-item .search-form .search-submit{
    color:#ffffff;
}
.main-menu .menu>.current-menu-ancestor>a,
.main-menu .menu> .current-menu-parent>a,
.main-menu .menu> .current-menu-item>a,
.main-menu .mobile-menu-container .mega-menu.style-link a,
.main-menu .mobile-menu-container li.active > a{
    background-color:#446280;
}
.main-menu .menu > .current-menu-ancestor > a,
.main-menu .menu > .current-menu-parent > a,
.main-menu .menu > .current-menu-item > a{
    color:#ffffff;
}
.main-menu .mobile-menu-container .menu > li.alignright > a.children-button,
.main-menu .mobile-menu-container .menu li .children-button,
.main-menu .menu > li:hover > a{
    background-color:#446280;
}
.main-menu .menu > li:hover > a{
    color:#ffffff;
}
.main-menu .menu > li > .sub-menu,
.main-menu .menu > li > .sub-menu .sub-menu{
    background-color:#304254;
}
.main-menu .mega-menu.cart-widget.widget_shopping_cart ul.cart_list li{
    background-color:#304254;
}
.main-menu .menu > li > .sub-menu li a{
    color:#ffffff;
}
.main-menu .menu>li>.sub-menu li,
.main-menu .mobile-menu-container .mega-menu.style-link > li,
.main-menu .mobile-menu-container .menu > li{
    border-bottom-color:#446280;
}
.main-menu .menu>li >.sub-menu>li.current_page_item>a,
.main-menu .menu>li >.sub-menu>li.current-menu-item>a,
.main-menu .menu>li >.sub-menu>li.current-menu-parent>a,
.main-menu .menu>li >.sub-menu>li.current-menu-ancestor>a,
.main-menu .menu>li >.sub-menu .sub-menu>li.current_page_item>a,
.main-menu .menu>li >.sub-menu .sub-menu>li.current-menu-item>a,
.main-menu .menu>li >.sub-menu .sub-menu>li.current-menu-parent>a,
.main-menu .menu>li >.sub-menu .sub-menu>li.current-menu-ancestor>a{
    background-color:#446280;
}
.main-menu .menu>li>.sub-menu>li.current_page_item>a,
.main-menu .menu>li>.sub-menu>li.current-menu-item>a,
.main-menu .menu>li>.sub-menu>li.current-menu-parent>a,
.main-menu .menu>li>.sub-menu>li.current-menu-ancestor>a,
.main-menu .menu>li>.sub-menu .sub-menu>li.current_page_item>a,
.main-menu .menu>li>.sub-menu .sub-menu>li.current-menu-item>a,
.main-menu .menu>li>.sub-menu .sub-menu>li.current-menu-parent>a,
.main-menu .menu>li>.sub-menu .sub-menu>li.current-menu-ancestor>a{
    color:#ffffff;
}
.main-menu .menu>li>.sub-menu>li:hover>a,
.main-menu .menu>li>.sub-menu .sub-menu>li:hover>a{
    background-color:#446280;
}
.main-menu .mega-menu.cart-widget.widget_shopping_cart ul.cart_list li:hover{
    background-color:#446280;
}
.main-menu .menu>li>.sub-menu>li:hover>a,
.main-menu .menu>li>.sub-menu .sub-menu>li:hover>a{
    color:#ffffff;
}
.mega-menu.cart-widget.widget_shopping_cart ul.cart_list li,
.mega-menu.cart-widget.widget_shopping_cart ul.cart_list a,
.mega-menu.cart-widget.widget_shopping_cart ul.cart_list p,
.main-wrap .widget_shopping_cart .total,
.main-wrap .widget_shopping_cart .total .amount,
.main-wrap ul.product_list_widget li .quantity{
    color:#ffffff;
}
.main-menu .mega-menu{
    background-color:#304254;
}
.main-menu .menu > li > .mega-menu .mega-menu-links{
    background-color:#253442;
}
.mega-menu.style-link > li > a,
.main-menu .menu > li .sub-menu > li > a,
.main-menu .mega-menu .listing-simple li h3.title a,
.main-menu .mega-menu .block-modern h2.title a,
.main-menu .mega-menu .listing-thumbnail h3.title a,
.main-menu .mega-menu .blog-block h2 a{
    color:#ffffff;
}
.mega-menu.style-link > li > a,
.mega-menu.style-category > li > a,
.mega-menu.style-link li .sub-menu li,
.mega-menu.style-category li .sub-menu li,
.mega-menu .listing-simple li,
.mega-menu .listing-thumbnail li,
.main-menu .menu li .sub-menu.mega-menu-links .menu-item-has-children > a,
.main-menu .menu li .mega-menu .sub-menu li{
    border-bottom-color:#40576e;
}
.mega-menu.style-link li .sub-menu .sub-menu li:first-child{
    border-top-color:#40576e;
}
.mega-menu .block-modern .highlight-line:before{
    background-color:#40576e;
}
.main-menu .menu .mega-menu .sub-menu li.current_page_item>a,
.main-menu .menu .mega-menu .sub-menu li.current-menu-item>a,
.main-menu .menu .mega-menu .sub-menu li.current-menu-parent>a,
.main-menu .menu .mega-menu .sub-menu li.current-menu-ancestor>a{
    background-color:#446280;
}
.main-menu .menu .mega-menu .sub-menu li.current_page_item>a,
.main-menu .menu .mega-menu .sub-menu li.current-menu-item>a,
.main-menu .menu .mega-menu .sub-menu li.current-menu-parent>a,
.main-menu .menu .mega-menu .sub-menu li.current-menu-ancestor>a{
    color:#ffffff;
}
.main-menu .menu .mega-menu li .sub-menu li:hover > a,
.main-menu .menu > li > .mega-menu.style-category .mega-menu-links a:hover{
    background-color:#446280;
}
.main-menu .menu .mega-menu .sub-menu li:hover>a{
    color:#ffffff;
}
.mega-menu .section-heading span.h-title{
    color:#ffffff;
}
.mega-menu .section-heading span.h-title{
    background-color:#446280;
}
.mega-menu .section-heading{
    border-bottom-color:#4e7499;
}


/**
 * 2.5. =>Breadcrumb
 **/
.bf-breadcrumb-wrapper,
.bf-breadcrumb-wrapper.boxed .bf-breadcrumb{
    background-color:#304254;
}
.bf-breadcrumb a{
    color:#ffffff;
}
.bf-breadcrumb .sep,
.bf-breadcrumb .trail-end{
    color:#97b5d1;
}


/**
 * 3.1.1 =>Section Heading Extended
 **/
.section-heading.extended .other-links .other-item a,
.section-heading span.h-title a,
.section-heading span.h-title{
    color:#fff;
}
.section-heading.extended .other-links .other-item a,
.section-heading span.h-title{
    background-color:#446280;
}
.section-heading{
    border-bottom-color:#4e7499;
}
.content-column .section-heading{
    background: #EAF1F8;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #EAF1F8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,#EAF1F8));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,#EAF1F8 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,#EAF1F8 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,#EAF1F8 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,#EAF1F8 100%);
}


/**
 * 3.2. =>Page Heading
 **/
#bbpress-forums li.bbp-header,
.page-heading{
    border-bottom-color:#446280;
}


/**
 * 3.3. =>Widget
 **/
.primary-sidebar-widget .section-heading,
.footer-larger-widget .section-heading{
    background-color:#304254;
}
.widget .section-heading.extended .other-links .other-item a, .widget .section-heading span.h-title{
    background-color:#304254;
}
.primary-sidebar-widget .section-heading,.footer-larger-widget .section-heading{
    border-color:#304254;
}
.widget .tagcloud a {
    background-color: transparent;
}
.footer-larger-wrapper .widget .tagcloud a {
    color: #fff;
}


/**
 * 3.4. =>Search Form
 **/
.aside-logo-sidebar .widget .search-form .search-field {
    border: 3px solid #446280;
}
.aside-logo-sidebar .widget .search-form .search-submit {
    background-color: #446280;
    color: #fff;
}
.aside-logo-sidebar .widget .search-form.have-focus .search-field {
    border-color: #537492;
}
.aside-logo-sidebar .widget .search-form.have-focus .search-submit {
    background-color: #537492;
    color: #fff;
}


/**
 * 3.5. =>Newsticker
 **/
.bf-news-ticker{
    background-color:#446280;
}
.bf-news-ticker ul.news-list li a{
    color:#ffffff;
}


/**
 * 2.4. =>Footer
 **/
.footer-larger-wrapper,
.footer-larger-wrapper .widget.widget_nav_menu li a{
    background-color:#334a61;
}
.footer-lower-wrapper .widget_nav_menu ul.menu li a{
    background-color:#334a61;
}
.footer-lower-wrapper .widget_nav_menu ul.menu li a:hover{
    background-color:#e15150;
}
.footer-larger-widget .better-social-counter.style-clean .social-item{
    border-bottom-color:#334a61;
}
.footer-larger-wrapper .widget .listing-thumbnail li h3.title a,
.footer-larger-wrapper,
.footer-larger-wrapper .the-content,
.footer-larger-wrapper .the-content p,
.footer-larger-wrapper .the-content a,
.footer-larger-widget .better-social-counter.style-clean .item-count,
.footer-larger-widget .better-social-counter.style-clean .item-title,
.footer-larger-wrapper .widget.widget_nav_menu li a{
    color:#ffffff;
}
.footer-lower-wrapper{
    background-color:#2c3f52;
}
.footer-lower-wrapper,
.footer-lower-wrapper a,
.footer-lower-wrapper .the-content,
.footer-lower-wrapper .the-content p{
    color:#ffffff;
}
.footer-larger-wrapper .listing-thumbnail li{
    border-color: #304254;
    border-color: rgba(0, 0, 0, 0.10);
}


/**
 * 3.6. =>Social Counter
 **/
.better-social-counter.style-clean .item-icon,
.better-social-counter.style-box .item-icon,
.better-social-counter.style-button .item-icon{
    background-color: #5B7FA3;
}
.better-social-counter.style-button .social-item:hover .item-icon{
    background-color: #3c546b;
}

.better-social-counter.style-box .item-count,
.better-social-counter.style-box .item-title{
    background-color: #3c546b;
}


/**
 * 3.10. =>Share Box and Social Share List
 **/
.share-box{
    border-color: #4e7499;
}


/**
 * 4.2. =>Block Modern
 **/
.block-modern .meta{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, #0F1E2C 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,#0F1E2C));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,#0F1E2C 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,#0F1E2C 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,#0F1E2C 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,#0F1E2C 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0F1E2C',GradientType=0 );
}


/**
 * 4.13. =>Tab Content Listing
 **/
.tab-content-listing .tab-read-more{
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #EAF1F8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,#EAF1F8));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,#EAF1F8 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,#EAF1F8 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,#EAF1F8 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,#EAF1F8 100%);
    border-bottom: 1px solid #DFE3E7;
}


/**
 * 4.9. =>Block Highlight
 **/
.block-highlight .content{
    width: 100%;
    position: absolute; bottom: 0; left: 0;
    padding: 30px 15px 15px ;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%,#0F1E2C 98%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,#0F1E2C));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,#0F1E2C 98%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,#0F1E2C 98%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,#0F1E2C 98%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,#0F1E2C 98%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0F1E2C',GradientType=0 );
}


/**
 * 5. =>Widgets
 **/
.widget .tab-read-more{
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #EAF1F8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,#EAF1F8));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,#EAF1F8 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,#EAF1F8 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,#EAF1F8 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,#EAF1F8 100%);
    border-bottom: 1px solid #DFE3E7;
}
.widget .tab-read-more a{
    color: #446280;
}
.footer-aside .widget .tab-read-more{
    background: -moz-linear-gradient(top, rgba(28, 47, 65, 0) 0%, #172736 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28, 47, 65, 0)), color-stop(100%,#172736));
    background: -webkit-linear-gradient(top, rgba(28, 47, 65, 0) 0%,#172736 100%);
    background: -o-linear-gradient(top, rgba(28, 47, 65, 0) 0%,#172736 100%);
    background: -ms-linear-gradient(top, rgba(28, 47, 65, 0) 0%,#172736 100%);
    background: linear-gradient(to bottom, rgba(28, 47, 65, 0) 0%,#172736 100%);
    border-bottom: 1px solid #08141F;
}
.footer-aside .widget .tab-read-more a{
    color: #fff;
}
.footer-aside .widget .tab-read-more a:hover{
    color: #E44E4F;
}


/**
 * 9.2. =>Archive Page
 **/
.archive-section .column-3,
.archive-section .column-2,
.archive-section .column-1{
    border-color: #304254;
}
.archive-section li:before,
.archive-section h3:before{
    background-color: #446280;
}
@media only screen and (max-width : 480px) {
    .archive-section .column-1,
    .archive-section .column-2,
    .archive-section .column-3{
        border-left-color: #304254;
    }
}


/**
 * 6.7. =>Feedburner
 **/
.feedburner .feedburner-email{
    color:#fff;
    background-color: #527292;
}


/**
 * 6.7. =>Twitter
 **/
.footer-aside .bf-shortcode-twitter .bf-tweets-list > li:nth-child(even){
    background-color: #3c546b
}
.footer-aside .bf-shortcode-twitter .bf-tweets-list > li:nth-child(odd){
    background-color: #527292
}
.footer-aside .bf-shortcode-twitter .bf-tweets-list .tweet-actions .action a:hover,
.footer-aside .bf-shortcode-twitter a:hover,
.footer-aside .bf-shortcode-twitter a{
    color: #06ade8;
}
.footer-aside .bf-shortcode-twitter .bf-tweets-list .tweet-actions .action a,
.footer-aside .bf-shortcode-twitter .bf-tweets-list .time{
    color: #BDBCBC;
}


/**
 * 9.6. =>Back To Top
 **/
.back-top {
    background: #446280;
}


/**
 * 10. =>WooCommerce
 **/
body .bm-wc-cart .cart-link{
    border-color: #446280;
}
body .bm-wc-cart .cart-link .fa-shopping-cart{
    background-color: #446280;
    color: #fff;
}
body .bm-wc-cart .items-list{
    border-color: #446280;
    background-color: #304254;
}
body .main-wrap .widget_shopping_cart .total .amount,
body .main-wrap ul.product_list_widget li .quantity{
    color: #e6e6e6;
}
body .bm-wc-cart .cart-link .total-items.empty{
    background-color: #446280;
    color: #fff;
}