/**
    BetterMag Clean Style - Beige Skin

    TABLE OF CONTENTS:

    1. =>Default Elements

    2. =>Global Structure
        2.1. =>Top-bar
        2.3. =>Navigation
            2.3.1 =>Sub Menus
            2.3.4 =>Mega Menus
            2.3.5. =>Responsive Menu
        2.5. =>Breadcrumb

    3. =>Components & Common Classes
        3.1. =>Section Heading
            3.1.2 =>Section Heading Tab
        3.2. =>Page Heading
        3.5. =>Newsticker
        3.6. =>Social Counter
        3.13. =>Term Title Banner
        3.16. =>Slider

    4. =>Content
        4.2. =>Block Modern
        4.3. =>Listing Thumbnail
        4.5. =>Blog Block
        4.9. =>Block Highlight

    6. =>Shortcodes
        6.6. =>BetterWeather

    9. =>Other
        9.1. =>WooCommerce Fixes
        9.2. =>bbPress Fixes

    10. =>Responsive

*/


/**
 * 1. =>Default Elements
 **/
.vertical-left-line{ border-left-color: #f4eeda; }
.vertical-right-line{ border-right-color: #f4eeda; }
.bottom-line{ border-bottom-color: #f4eeda; }
.top-line{ border-top-color: #f4eeda; }
.listing-simple li,
.betterstudio-review .criteria-list li,
.better-social-counter.style-clean .social-item,
.listing-thumbnail li,
body .main-wrap ul.product_list_widget li{
    border-bottom-color: #f4eeda;
}
.block-modern .highlight-line:before{
    background-color: #f4eeda;
}
hr.bs-divider{
    border-color: #f4eeda;
}


/**
 * 2.1. =>Top-bar
 **/
.top-bar{
    background-color: #fff;
}
.top-bar{
    border-bottom: 1px solid #dbcd9b;
}


/**
 * 2.3. =>Navigation
 **/
.main-menu,
.main-menu.boxed .main-menu-container,
.main-menu .menu{
    height: 45px;
}
.main-menu,
.main-menu.boxed .main-menu-container{
    background-color: #fff;
}
.main-menu.boxed .main-menu-container {
    border-top: 1px solid #dbcd9b;
    border-right: 1px solid #dbcd9b;
    border-left: 1px solid #dbcd9b;
}
.main-menu{
    border-top: 1px solid #dbcd9b;
    border-bottom: 2px solid #d9c680;
}
.main-menu.boxed{
    border-top: none;
    border-bottom: none;
}
.main-menu,
.main-menu.boxed .main-menu-container,
.main-menu.boxed .main-menu-container.mobile-menu-container {
    border-bottom-color: #d9c680;
}
.main-menu .mobile-menu-container .menu > li,
.main-menu .mobile-menu-container .mega-menu.style-link > li.active .sub-menu li,
.main-menu .mobile-menu-container .mega-menu.style-link > li,
.mega-menu.style-link > li > a,
.mega-menu .listing-simple li,
.mega-menu .listing-thumbnail li,
.main-menu .menu li .sub-menu.mega-menu-links .menu-item-has-children > a,
.main-menu .menu li .sub-menu li{
    border-bottom-color: #f2e3bb;
}
.mega-menu.style-link li .sub-menu .sub-menu li:first-child,
.main-menu .mobile-menu-container .mega-menu.style-link .sub-menu li:first-child,
.main-menu .mobile-menu-container .mega-menu.style-link li:first-child,
.main-menu .mobile-menu-container .menu .sub-menu li:first-child{
    border-top:1px solid #f2e3bb;
}
.main-menu .mobile-menu-container .menu li:hover > .sub-menu{
    display: none;
}
.main-menu .main-menu-container {
    border-right: 1px solid #dbcd9b;
    border-left: 1px solid #dbcd9b;
    height: 42px;
}
.main-menu .menu > li > a:before {
    height: 42px;
    background-color: #dbcd9b;
    width: 1px;
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    display: inline-block;
}
.main-menu .mobile-menu-container .mega-menu.style-link > li.active .sub-menu li:hover > a,
.main-menu .mobile-menu-container .mega-menu.style-link > li.active > a,
.main-menu .mobile-menu-container .mega-menu.style-link > li.active:hover > a,
.main-menu .mobile-menu-container .mega-menu.style-link > li.active .sub-menu li > a,
.main-menu .mobile-menu-container .mega-menu.style-link > li:hover > a,
.main-menu .mobile-menu-container li.active > a,
.main-menu .mobile-menu-container .menu > li.alignright:hover > a,
.main-menu .menu > li > .mega-menu.style-category .mega-menu-links a:hover,
.main-menu .mega-menu.style-link li .sub-menu li:hover > a,
.main-menu .menu > li > .sub-menu li:hover > a,
.main-menu .menu > li:hover > a,
.main-menu .menu > .current-menu-ancestor > a,
.main-menu .menu > .current-menu-parent > a,
.main-menu .menu > .current-menu-item > a{
    background-color: #f5edd0;
}
.main-menu .mobile-menu-container .mega-menu.style-link a,
.main-menu .mobile-menu-container .menu li .sub-menu li{
    background-color: transparent;
}
.main-menu .menu > li.alignright{
    line-height: 43px;
    height: 45px;
    margin-top: -1px;
}
.main-menu .search-item .search-form,
.main-menu .menu > li.alignright > a{
    background-color: transparent;
}
.main-menu .menu > li.alignright > a:before{
    height: 42px;
    background-color: #dbcd9b;
    width: 1px;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: inline-block;
}
.main-menu.boxed .menu > li.first-aligned .search-form:before,
.main-menu.boxed .menu > li.first-aligned > a:before{
    display: none;
}
.main-menu .menu > li.shop-cart-item{
    margin-left: 0;
}
.main-menu .menu li > .sub-menu{
    background-color: #ffffff;
}
.mega-menu.cart-widget.widget_shopping_cart,
.main-menu .menu > li > .sub-menu{
    border: 1px solid #dbcd9b;
    border-top: none;
}
.main-menu .menu > li > .sub-menu .sub-menu {
    border: 1px solid #dbcd9b;
    top: -1px;
    left: 198px;
}
.main-menu .menu > li.alignright > a:before{
    display: none;
}
.main-menu .menu a,
.main-menu .search-item .search-form .search-submit,
.main-menu .main-menu-container.mobile-menu-container .mobile-button a{
    color:#493c0c;
}


/**
 * 2.3.1 =>Sub Menus
 **/
.main-menu .menu>li>.sub-menu{
    margin-left: -1px;
}


/**
 * 2.3.4 =>Mega Menus
 **/
.main-menu .mega-menu{
    background-color: #ffffff;
    border: 1px solid #dbcd9b;
    border-top: none;
    box-sizing: content-box;
    left: -1px;
}
.main-menu .mobile-menu-container .menu li .sub-menu,
.main-menu .main-menu-container.mobile-menu-container .mega-menu{
    border: none;
    margin-left: 0;
    left: 0;
}
.main-menu .menu > li > .mega-menu .mega-menu-links {
    background-color: #f5edd0;
}
.mega-menu .section-heading span.h-title{
    color:#493c0c;
}
.mega-menu .section-heading{
    border-color:#dbcd9b;
}
body .mega-menu.cart-widget.widget_shopping_cart ul.cart_list li,
body .mega-menu.cart-widget.widget_shopping_cart ul.cart_list li:hover{
    background-color: #ffffff;
}


/**
 * 2.3.5. =>Responsive Menu
 **/
.main-menu .mobile-menu-container .menu{
    height: auto;
}
.main-menu .mobile-menu-container .menu li .children-button{
    background-color: #dbcd9b !important;
}
.main-menu .main-menu-container.mobile-menu-container .menu > li.alignright{
    height: auto;
}
.main-menu .main-menu-container.mobile-menu-container .mobile-button .fa {
    position: absolute;
    right: -1px;
    top: -1px;
    height: 46px;
    line-height: 48px;
}
.main-menu .main-menu-container.mobile-menu-container.active .mobile-button .fa {
    height: 45px;
}
.main-menu .main-menu-container.mobile-menu-container .menu > li > a:before{
    display: none;
}
.main-menu .main-menu-container.mobile-menu-container{
    position: relative;
}
.main-menu.boxed .main-menu-container.mobile-menu-container{
    border-bottom:1px solid #dbcd9b;
}
.main-menu .main-menu-container.mobile-menu-container.active .mobile-button{
    border-bottom:1px solid #dbcd9b;
}


/**
 * 2.4. =>Footer
 **/
.footer-larger-wrapper{
    border-top: 2px solid #dbcd9b;
    background-color: #fff;
    color:#493c0c;
}
.footer-lower-wrapper{
    border-top: 1px solid #dbcd9b;
    background-color: #fff;
    color:#493c0c;
}
.footer-larger-wrapper,
.footer-larger-wrapper .the-content,
.footer-larger-wrapper .the-content p,
.footer-larger-wrapper .the-content a,
.footer-larger-widget .better-social-counter.style-clean .item-count,
.footer-larger-widget .better-social-counter.style-clean .item-title,
.footer-larger-wrapper .widget.widget_nav_menu li a{
    color:#493c0c;
}
.footer-lower-wrapper,
.footer-lower-wrapper .the-content,
.footer-lower-wrapper .the-content p{
    color:#493c0c;
}


/**
 * 2.5. =>Breadcrumb
 **/
.bf-breadcrumb-wrapper {
    border: 1px solid #dbcd9b;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #ffffff;
}
.bf-breadcrumb-wrapper.boxed {
    border: none;
}
.bf-breadcrumb-wrapper.boxed .bf-breadcrumb{
    background-color: transparent;
    border: 1px solid #dbcd9b;
    border-top: none;
}
.bf-breadcrumb a{
    color:#493c0c;
}
.bf-breadcrumb .sep,
.bf-breadcrumb .trail-end{
    color: #827440;
}
.bf-breadcrumb-wrapper.boxed .bf-breadcrumb{
    border-color:#dbcd9b;
}
.bf-breadcrumb-wrapper{
    border-bottom-color:#dbcd9b;
}
@media only screen and (max-width : 768px) {
    .bf-breadcrumb-wrapper.boxed .bf-breadcrumb{
        border-top:1px solid #dbcd9b;
    }
}
@media only screen and (max-width : 768px) {
    .bf-breadcrumb-wrapper{
        border-top:1px solid #dbcd9b;
    }
}


/**
 * 3.1. =>Section Heading
 **/
.section-heading{
    border-top: 2px solid #dbcd9b;
    height: 36px;
    border-color: #dbcd9b;
}
.section-heading.extended.tab-heading .other-links .other-item a,
.section-heading span.h-title{
    line-height: 32px;
}
.section-heading.extended .other-links .other-item a,
.section-heading span.h-title{
    background-color: transparent;
}
.content-column .section-heading{
    background: #FFFCEF;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #FFFCEF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,#FFFCEF));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,#FFFCEF 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,#FFFCEF 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,#FFFCEF 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,#FFFCEF 100%);
}


/**
 * 3.1.2 =>Section Heading Tab
 **/
.section-heading.extended.tab-heading{
    border-color: #dbcd9b;
}
.section-heading.extended.tab-heading .other-links .other-item.active a{
    background-color: transparent;
    color: #E44E4F;
}
.section-heading.extended .other-links .other-item:hover a{
    background-color: transparent;
    color: #E44E4F;
}
.section-heading.extended.tab-heading{
    border-color: #E44E4F;
}
.widget .section-heading.extended .other-links .other-item a,
.widget .section-heading span.h-title{
    background-color: transparent;
    color: #493c0c;
}
.widget .section-heading.extended.tab-heading,
.primary-sidebar-widget .section-heading,
.footer-larger-widget .section-heading {
    border-color: #dbcd9b;
    background-color: transparent;
}


/**
 * 3.2. =>Page Heading
 **/
#bbpress-forums li.bbp-header,
.page-heading {
    border-bottom-color: #dbcd9b;
}


/**
 * 3.4. =>Search Form
 **/
.aside-logo-sidebar .widget .search-form .search-field {
    border: 2px solid #d9c680;
}
.aside-logo-sidebar .widget .search-form .search-submit {
    background-color: #d9c680;
    color: #705e1f;
    top: 2px;
}
.aside-logo-sidebar .widget .search-form.have-focus .search-field {
    border-color: #cab773;
}
.aside-logo-sidebar .widget .search-form.have-focus .search-submit {
    background-color: #cab773;
    color: #705e1f;
}
.top-bar .widget .search-form .search-field{
    border: 1px solid #dbcd9b;
}


/**
 * 3.5. =>Newsticker
 **/
.bf-news-ticker{
    background-color: #fff;
}
.bf-news-ticker ul.news-list li a{
    color:#493c0c;
}
.bf-news-ticker .news-list{
    border: 1px dashed #d9c680;
    height: 26px;
}


/**
 * 3.6. =>Social Counter
 **/
.better-social-counter.style-button .social-item {
    margin: 0 6px 6px 0;
}
.better-social-counter.style-button .social-item .item-icon{
    background-color: transparent;
    border: 1px solid #a3a3a3;
    color: #747474;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.better-social-counter.style-button .social-item .item-icon:hover{
    background-color: transparent;
    border-color: #747474;
    color: #505050;
}
.footer-lower-wrapper .better-social-counter.style-button .item-icon,
.top-bar .better-social-counter.style-button .item-icon{
    width: 26px;
    height: 26px;
    line-height: 26px;
}
.better-social-counter.style-button.colored .social-item:hover .item-icon{ color: #fff !important; }
.better-social-counter.style-button.colored .social-item .item-icon{ background-color: transparent; }

.better-social-counter.style-button.colored .social-item.facebook .item-icon{
    color: #4a639f;
    border-color: #4a639f;
}
.better-social-counter.style-button.colored .social-item.twitter .item-icon{
    color: #59c8ff;
    border-color: #59c8ff;
}
.better-social-counter.style-button.colored .social-item.google .item-icon{
    color: #D73D32;
    border-color: #D73D32;
}
.better-social-counter.style-button.colored .social-item.dribbble .item-icon{
    color: #ea4c89;
    border-color: #ea4c89;
}
.better-social-counter.style-button.colored .social-item.delicious .item-icon{
    color: #4a79ff;
    border-color: #4a79ff;
}
.better-social-counter.style-button.colored .social-item.soundcloud .item-icon{
    color: #F50;
    border-color: #F50;
}
.better-social-counter.style-button.colored .social-item.github .item-icon{
    color: #666666;
    border-color: #666666;
}
.better-social-counter.style-button.colored .social-item.behance .item-icon{
    color: #3b63fc;
    border-color: #3b63fc;
}
.better-social-counter.style-button.colored .social-item.youtube .item-icon{
    color: #cc181e;
    border-color: #cc181e;
}
.better-social-counter.style-button.colored .social-item.vimeo .item-icon{
    color: #46a3e9;
    border-color: #46a3e9;
}
.better-social-counter.style-button.colored .social-item.instagram .item-icon{
    color: #5e93be;
    border-color: #5e93be;
}
.better-social-counter.style-button.colored .social-item.linkedin .item-icon{
    color: #0266a0;
    border-color: #0266a0;
}
.better-social-counter.style-button.colored .social-item.vk .item-icon{
    color: #4E729A;
    border-color: #4E729A;
}
.better-social-counter.style-button.colored .social-item.vine .item-icon{
    color: #00bf8f;
    border-color: #00bf8f;
}
.better-social-counter.style-button.colored .social-item.pinterest .item-icon{
    color: #cb2027;
    border-color: #cb2027;
}
.better-social-counter.style-button.colored .social-item.flickr .item-icon{
    color: #2f44db;
    border-color: #2f44db;
}
.better-social-counter.style-button.colored .social-item.steam .item-icon{
    color: #666666;
    border-color: #666666;
}
.better-social-counter.style-button.colored .social-item.rss .item-icon{
    color: #f97410;
    border-color: #f97410;
}
.better-social-counter.style-clean .item-icon,
.better-social-counter.style-box .item-icon,
.better-social-counter.style-button .item-icon{
    background-color: #ceb559;
}
.better-social-counter.style-clean .item-icon:hover,
.better-social-counter.style-button .item-icon:hover{
    background-color: #493c0c;
}
.better-social-counter.style-box .item-count,
.better-social-counter.style-box .item-title{
    background-color: #aa9251;
}


/**
 * 3.10. =>Share Box and Social Share List
 **/
.share-box{
    border-color: #d9c680;
}


/**
 * 3.16. =>Slider
 **/
.main-slider-wrapper{
    background-color: #FFFCF0;
    border-top: 1px dashed #d9c680;
    border-bottom: 1px dashed #d9c680;
}


/**
 * 4.13. =>Tab Content Listing
 **/
.tab-content-listing .tab-read-more{
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #FFFAE8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,#FFFAE8));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,#FFFAE8 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,#FFFAE8 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,#FFFAE8 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,#FFFAE8 100%);
    border-bottom: 1px solid #F7EBC5;
}


/**
 * 5. =>Widgets
 **/
.widget .tab-read-more{
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #FFFAE8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,#FFFAE8));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,#FFFAE8 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,#FFFAE8 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,#FFFAE8 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,#FFFAE8 100%);
    border-bottom: 1px solid #F7EBC5;
}
.widget .tab-read-more a{
    color: #705e1f;
}
.footer-aside .widget .tab-read-more{
    background: -moz-linear-gradient(top, rgba(28, 47, 65, 0) 0%, #FFFAE8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28, 47, 65, 0)), color-stop(100%,#FFFAE8));
    background: -webkit-linear-gradient(top, rgba(28, 47, 65, 0) 0%,#FFFAE8 100%);
    background: -o-linear-gradient(top, rgba(28, 47, 65, 0) 0%,#FFFAE8 100%);
    background: -ms-linear-gradient(top, rgba(28, 47, 65, 0) 0%,#FFFAE8 100%);
    background: linear-gradient(to bottom, rgba(28, 47, 65, 0) 0%,#FFFAE8 100%);
    border-bottom: 1px solid #F7EBC5;
}



/**
 * 5.2. =>Nav Menu
 **/
.widget.widget_nav_menu li a {
    line-height: 22px;
    background-color: #fff;
    border: 1px solid #dbcd9b;
}
.widget.widget_nav_menu li a:hover {
    border-color: #E44E4F;
}
.top-bar .widget.widget_nav_menu ul.menu li a{
    background-color: transparent;
    border: none;
}
.top-bar .widget.widget_nav_menu ul.menu li .sub-menu .sub-menu a,
.top-bar .widget.widget_nav_menu ul.menu li .sub-menu a{
    background-color: #fff;
}
.top-bar .widget.widget_nav_menu ul.menu li .sub-menu{
    border: 1px solid #dbcd9b;
    border-top: none;
}
.top-bar .widget.widget_nav_menu ul.menu li .sub-menu .sub-menu{
    border: 1px solid #dbc893;
}
.top-bar .widget.widget_nav_menu ul.menu li .sub-menu .sub-menu {
    left: 198px;
}


/**
 * 6.7. =>Feedburner
 **/
.feedburner .feedburner-email{
    background-color: #fff;
    border: 1px solid #dbcd9b;
    border-right: none;
}


/**
 * 6.7. =>Twitter
 **/
.bf-shortcode-twitter .bf-tweets-list > li {
    border: 2px solid #dbcd9b;
    border-bottom: none;
}
.bf-shortcode-twitter .bf-tweets-list > li:last-child {
    border-bottom: 2px solid #dbcd9b;
}
.bf-shortcode-twitter .bf-tweets-list > li:nth-child(odd) {
    background-color: #FCF4D9;
}
.bf-shortcode-twitter .bf-tweets-list > li:nth-child(even) {
    background-color: #FFFBEE;
}

/**
 * 9. =>Other
 **/


/**
 * 9.1. =>WooCommerce Fixes
 **/
body.woocommerce-account .woocommerce .address .title h3,
body.woocommerce-account .woocommerce h2,
body .cross-sells h2,
body .related.products h2,
body.woocommerce #reviews h3,
body.woocommerce-page #reviews h3,
body .woocommerce-tabs .panel.entry-content h2,
body.woocommerce .shipping_calculator h2,
body.woocommerce .cart_totals h2,
body h3#order_review_heading,
body .woocommerce-shipping-fields h3,
body .woocommerce-billing-fields h3{
    border-bottom-color: #dbcd9b;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text,
.woocommerce-page #reviews #comments ol.commentlist li .comment-text{
    border-color: #f4eeda;
}
body .bm-wc-cart .cart-link{
    border: 2px solid #d9c680;
    line-height: 32px
}
body .bm-wc-cart .cart-link .fa-shopping-cart{
    background-color: #d9c680;
    color: #493c0c;
    height: 34px;
    line-height: 34px;
}
body .bm-wc-cart .items-list{
    border: 2px solid #d9c680;
    border-top: none;
}
body .bm-wc-cart .cart-link .total-items.empty{
    background-color: #d9c680;
}


/**
 * 9.2. =>bbPress Fixes
 **/
.widget.widget_display_topics li,
.widget.widget_display_replies li,
.widget_display_stats dl dt,
body #bbpress-forums .bbp-forums-list li,
body #bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic{
    border-bottom-color: #f4eeda;
}
body .bbp-pagination{
    border-color: #f4eeda;
}


/**
 * 9.2. =>Archive Page
 **/
.archive-section h3{
    color:#493c0c;
}
.archive-section .column-3,
.archive-section .column-2,
.archive-section .column-1{
    border-color: #f5edd0;
}
.archive-section li:before,
.archive-section h3:before{
    background-color: #d9c680;
}
@media only screen and (max-width : 480px) {
    .archive-section .column-1,
    .archive-section .column-2,
    .archive-section .column-3{
        border-left-color: #f5edd0;
    }
}


/**
 * 9.5. =>navigate-posts
 **/
.navigate-posts .next,
.navigate-posts .previous{
    background-color: #fff;
    border: 2px solid #f5edd0;
}
.block-user-row.single-post-author {
    border: 2px solid #f5edd0;
    background: none;
}


/**
 * 9.6. =>Back To Top
 **/
.back-top {
    background: #fff;
    color: #705e1f;
    -webkit-box-shadow: 0 0px 2px rgba(112, 94, 31, 0.58);
    box-shadow: 0 0px 2px rgba(112, 94, 31, 0.58);
}


/**
 * 10. =>Responsive
 **/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .main-menu.boxed .main-menu-container, .main-menu, .main-menu .menu {
        height: auto;
    }

}